body { 
	margin: 0; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden !important;
}
canvas { width: 100%; height: 100% }

div:empty {
	display: none;
}

h2 {
	font-size: 40px;
}

h3 {
	position: relative;
	left: 30px;
	margin-bottom: 0px;
}

hr { 
	position: relative;
	border-color: black;
    display: block;
    margin-before: 0em;
    margin-after: 0.5em;
    margin-start: 10px;
    margin-end: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


input[type=checkbox]
{
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.checkboxtext {
	position: relative;
	left: 10px;
	font-size: 120%;
	text-align: left;
}

#overflow {
	overflow: hidden !important;
}

#titleHeader {
	text-align: center;
	position: absolute;
	color: darkgrey;
	width: 100%;
	font-family: 'Arial Black';
	font-size: 7vw;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#soundIcon {
	position: absolute;
	width: 30px;
	height: auto;
	text-align: left;
	cursor: pointer;
	z-index: 100;
	bottom: 10px;
	left: 10px;
}

#startButton {
	position: absolute;
	z-index: 1;
	top: 60%;
	left: 50%;
	font-size: 50px;
	color: lightgrey;
	border-color: lightgrey;
	height: 60px;
	width: 200px;
	transform: translate(-50%, 30%);
	cursor: pointer;
	background-color: Transparent;
}

#startButton:hover {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#backBtn {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	top: 2%;
	left: 2%;
	height: 30px;
	width: 40px;
}

#infoBtnWrapper {
	width: 100%;
	top: 2%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

#infoBtn {
	z-index: 1;
	cursor: pointer;
	height: 30px;
	width: 80px;
}

#btnWrapper {
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
}

#settingsBtn {
	position: absolute;
	cursor: pointer;
	z-index: 3;
	top: 2%;
	right: 2%;
	height: 30px;
	width: 30px;
}

#settingsWindow {
	background-color: grey;
	position: absolute;
	width: 40%;
	height: 100%;
	right: -40%;
	z-index: 1;
}

#theSettings {
	background-color: darkgrey;
	margin: 5px;
	position: absolute;
	overflow: hidden;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

#settingsHeader {
	text-align: center;
	position: relative;
}

.checkbox {
	position: relative;
	left: 30px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 3s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s 0s, opacity 1s linear;
}

.open{
    right:0px !important;
}

.transition{
    
  -webkit-transition: right 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: right 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: right 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: right 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}